<h3>Contact Form</h3>

<form class="form-group" id="contactform">

  <p>
    <label for="name">Name</label>
    <input type="text" class="form-control"  name="name" id="name" placeholder="John Doe" />
  </p>

  <p>
    <label for="email">Email</label>
    <input type="text" class="form-control"  name="email" id="email" placeholder="mail@example.com" />
  </p>

  <p>
    <label for="message">Text</label>
    <textarea name="text" class="form-control"  placeholder="Write something to us" /></textarea>
  </p>

  <p>
    <input type="submit" value="Send"  class="btn btn-default"/>
  </p>
</form>